body {
  background: #E6E6E6;
  font-family: 'AlegreyaSans-Light';
}

.subtitle {
  text-align: center;
  color: #9F708B;
}

.subtitle:first-child {
  font-family: 'AlegreyaSans-Bold';
  font-size: 10vh;
  margin: 3.5vh 0 2vh 0;
}

.subtitle:last-child {
  font-style: italic;
  font-size: 5vh;
  margin: 0;
}

.main {
  width: 82vw;
  max-width: 850px;
  height: 55vh;
  background-color: #F6F6F6;
  margin: auto;
  padding: 3% 5%;
  box-shadow: 5px 5px 30px #c0afbd;
  /* изменить высоту для айпадов */
}

.line { background-color: #737373; }
