body,
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  font-family: 'Montserrat-Medium';
}

.title {
  font-family: 'Montserrat-Extra-Bold';
  font-size: 25px;
}
