@font-face {
  font-family: 'Montserrat-Medium';
  src: url("fonts/Montserrat-Medium.ttf") format('trueType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("fonts/Montserrat-Bold.ttf") format('trueType');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Extra-Bold';
  src: url("fonts/Montserrat-ExtraBold.ttf") format('trueType');
  font-weight: 800;
  font-style: normal;
}
