.list {
  align-self: flex-start;
  margin: 4vh 0 5vh 0;
  height: 68%;
  overflow-y: scroll;
}

.item:hover {
  border: 2px solid #E6E6E6;
  border-radius: 1px;
}

@media (max-height: 935px) and (max-width: 730px) {
  .list {
    height: 65%;
    margin-bottom: 3vh;
  }
}

@media (max-height: 760px) and (max-width: 730px) {
  .list {
    height: 61%;
    margin-bottom: 3vh;
  }
}

@media (max-width: 400px) {
  .list {
    margin-bottom: 1.5vh;
  }
}
