.list {
  align-self: flex-start;
  margin: 4vh 0 5vh 0;
  height: 68%;
  overflow-y: scroll;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:hover {
  border: 2px solid #E6E6E6;
  border-radius: 1px;
}

.label {
  display: flex;
  align-items: center;
  margin: 0 0 7px 0;
  width: 70%;
}

.checkbox { display: none; }

.checkbox:checked + .fake::before { opacity: 1; }

.checkbox:checked ~ div {
  opacity: .6;
  text-decoration: line-through;
}

.checkbox:checked + .fake { background-color: #9F708B; }

.fake {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #9F708B;
  border-radius: 2px;
  position: relative;
}

.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("./images/check.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .4s;
}

.fake:hover,
.trash:hover { cursor: pointer; }

.text {
  display: inline-block;
  opacity: 1;
  text-decoration: none;
  transition: .5s;
  margin-left: 15px;
  color: #545454;
}

.trash {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("./images/trash.png");
  background-size: 100%;
  margin-right: 2vw;
  opacity: 1;
  transition: .2s;
}

.trash:hover { opacity: 0.5; }

@media (max-height: 935px) {
  .list {
    height: 65%;
    margin-bottom: 3vh;
  }
}

@media (max-height: 760px) {
  .list {
    height: 61%;
    margin-bottom: 3vh;
  }
}

@media (max-width: 400px) {
  .list {
    margin-bottom: 1.5vh;
  }
}
